body{
	background-image: url("back.jpg");
}
h1{
	color: white;
}

.circulo { 
   float:left;
   margin-left:5px;
   border: 2px solid;
   width: 60px;   
   height: 60px;
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
}
.I{
	background:pink;
}
.II{
	background:#FF0066;
}
.III{
	background:yellow;
}
.IV{
	background:aqua;
}
.V{
	background:orange;
}
.VI{
	background:red;
}
.no{
	background:white;
}
.ok{
	background:green;
}
.ko{
	background:red;
}
.caja{
	border: 2px solid;
	margin:10px;
	padding:10px;
	background: rgba(255, 255, 255, 0.5);
}
.text-info{
	color: white;
	font-size:12pt;
}
.numero{
	font-size:30pt;
	color: white;
}
.cuadrado {
	float:left;
	margin:2px;
	width: 15px;
	height: 15px;
}
.linea
{
	margin-left: auto;
    margin-right: auto;
	display:table;
}
.bloque
{
	display:inline-block;
}
#inputText{
	margin-top:-10px;
	margin-left:10px;
	border:2px solid;
}


