body{
	background-image: url("../img/back.jpg");
}
h1{
	color: white;
}
.btn{
	height:100px;
}
.circulo { 
   float:left;
   margin-left:5px;
   border: 2px solid;
   width: 60px;   
   height: 60px;
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
   box-shadow: 2px 2px 1px #000000;
}
.I{
	background:#FF92F9;
}
.II{
	background:#FF0066;
}
.III{
	background:#FDF626;
}
.IV{
	background:#0AD4E2;
}
.V{
	background:#FFA200;
}
.VI{
	background:#E20000;
}
.no{
	background:white;
}
.ok{
	background:#08BA08;
}
.ko{
	background:#E20000;
}
.caja{
	border: 2px solid;
	margin:10px;
	padding:10px;
	background: rgba(255, 255, 255, 0.5);
}
.text-info{
	color: white;
	font-size:12pt;
}
.numero{
	font-size:30pt;
	color: white;
	text-align: center;
}
.cuadrado {
	float:left;
	margin:2px;
	width: 15px;
	height: 15px;
}
.linea
{
	margin-left: auto;
    margin-right: auto;
	display:table;
}
.bloque
{
	display:inline-block;
}
.pError{

	margin-left:10px;
	margin-right:10px;
	
}
#inputText{
	margin-top:-10px;
	margin-left:10px;
	border:2px solid;
}


